**/.git
**/.gitignore
**/.vscode
**/node_modules
**/dist
**/build
**/coverage
.dockerignore
Dockerfile
docker-compose.yml
npm-debug.log
yarn-error.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md
